@charset "UTF-8";
:root {
  --fz: $fontSize;
}

.text-yellow {
  color: #CFB784 !important;
}

.text-gray {
  color: #828282 !important;
}

.text-underline {
  text-decoration: underline !important;
}

.product-preview-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.product-name {
  font-size: 40px;
}

.product-category {
  font-size: var(--fz);
  color: #828282;
}

.product-manufacturer {
  font-size: 40px;
}

.product-image-place {
  display: flex;
  width: 100%;
}
.product-image-place img {
  object-fit: cover;
  aspect-ratio: 1;
  width: 100%;
}

.big-category-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.product-card {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}
.product-card .product-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.product-card .product-images {
  display: flex;
  justify-content: center;
}
.product-card .product-images img {
  object-fit: cover;
  aspect-ratio: 1;
  width: 100%;
  height: 500px;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after, .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  content: none;
}

.swiper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.swiper .swiper-button-prev {
  background: none;
  border: 1px solid #fff !important;
  font-size: var(--fz);
  width: fit-content;
  width: 60px;
  height: 60px;
  left: 0;
}
.swiper .swiper-button-prev:hover {
  background-color: #fff;
  color: #000;
}
.swiper .swiper-button-prev:hover svg {
  fill: #000;
}
.swiper .swiper-button-prev svg {
  width: auto;
  height: auto;
}
.swiper .swiper-button-next {
  background: none;
  border: 1px solid #fff !important;
  font-size: var(--fz);
  width: fit-content;
  width: 60px;
  height: 60px;
  right: 0;
}
.swiper .swiper-button-next:hover {
  background-color: #fff;
  color: #000;
}
.swiper .swiper-button-next:hover svg {
  fill: #000;
}
.swiper .swiper-button-next svg {
  width: auto;
  height: auto;
  transform: rotate(180deg);
}
.swiper .swiper-pagination {
  position: static;
}
.swiper .swiper-pagination .swiper-pagination-bullet {
  opacity: 1;
  background: none;
  border: 2px solid rgba(255, 255, 255, 0.5019607843);
  height: 22px;
  width: 22px;
}
.swiper .swiper-pagination .swiper-pagination-bullet-active {
  background: #fff;
}
.swiper .swiper-pagination.lined-around::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  height: 1px;
  width: calc(50% - 50px);
  background: #fff;
}
.swiper .swiper-pagination.lined-around::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 1px;
  width: calc(50% - 50px);
  background: #fff;
}
.swiper .swiper-slide .post-area {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.swiper .swiper-slide .post-area .post-date {
  font-size: 18px;
  color: #828282;
}
.swiper .swiper-slide .post-area .border-inside {
  aspect-ratio: 4/3;
}
.swiper .swiper-slide:hover .post-name {
  text-decoration: underline;
  color: #CFB784;
}
.swiper .swiper-slide:hover .border-inside img {
  transform: scale(1.2);
}
.swiper .swiper-slide .border-inside {
  overflow: hidden;
  aspect-ratio: 1;
  position: relative;
}
.swiper .swiper-slide .border-inside::after {
  content: "";
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 90%;
  width: 90%;
  border: 1px solid #fff;
}
.swiper .swiper-slide .border-inside img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: 0.4s ease-in-out transform;
}
.swiper .swiper-slide .border-inside.aspect-4-3 {
  aspect-ratio: 4/3;
}
.swiper .swiper-slide .brand-block {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.swiper .swiper-slide .brand-block img {
  height: 80px;
  margin-right: auto;
  object-fit: contain;
}
.swiper .swiper-slide .brand-block .brand-name {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #828282;
}
.swiper .swiper-slide .brand-block .brand-name::before {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #828282;
}

@media (min-width: 769px) {
  .products-preview-slider .swiper-slide:nth-child(2n-1)::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    background: #ffffff;
    background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
    height: 100%;
  }
}
.category-nav-slider .swiper-slide .blured, .products-nav-slider .swiper-slide .blured {
  transition: 0.4s ease-in-out transform, 0.4s ease-in-out filter;
  transform: scale(0.7);
  filter: blur(4px);
}
.category-nav-slider .swiper-slide-active .blured, .products-nav-slider .swiper-slide-active .blured {
  transform: scale(1);
  z-index: 2;
  filter: blur(0px);
}

.products-slider {
  max-height: 500px;
}

.products-sliders-area {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
  align-items: center;
}

.products-nav-slider-area {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 170px;
}
.products-nav-slider-area .products-nav-slider {
  height: 100%;
}
.products-nav-slider-area .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.products-nav-slider-tools {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.products-nav-slider-tools .swiper-btn-prev {
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}
.products-nav-slider-tools .swiper-btn-prev.swiper-button-disabled {
  opacity: 0;
}
.products-nav-slider-tools .swiper-btn-next {
  cursor: pointer;
  transform: rotate(180deg);
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}
.products-nav-slider-tools .swiper-btn-next.swiper-button-disabled {
  opacity: 0;
}
.products-nav-slider-tools .swiper-pagination {
  position: static;
  font-size: 30px;
  color: #828282;
}
.products-nav-slider-tools .swiper-pagination .swiper-pagination-total {
  font-size: 30px;
  color: #828282;
}
.products-nav-slider-tools .swiper-pagination .swiper-pagination-current {
  font-size: 58px;
}

.location-area {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}
.location-area .location-part {
  position: relative;
}
.location-area .location-part .location-search {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.location-area .location-part .location-search .search-input-block {
  flex: 1;
  width: 100%;
}
.location-area .location-part .location-search .locations-map-tabs {
  display: flex;
  gap: 20px;
  width: 100%;
}
.location-area .location-part .location-search .locations-map-tabs * {
  flex: 1;
  text-align: center;
}
.location-area .location-part .location-list {
  max-height: 651px;
  overflow: auto;
}
.location-area .location-part .location-list::-webkit-scrollbar {
  width: 14px;
  background-color: #1D1D1D;
}
.location-area .location-part .location-list::-webkit-scrollbar-thumb {
  background-color: #fff;
}
.location-area .location-part .location-list .location-current {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}
.location-area .location-part .location-list .location-current .location-content h4 {
  color: #CFB784;
  text-decoration: underline;
  line-height: 1.5em;
}
.location-area .location-part .location-list .location-current .location-content span {
  font-size: var(--fz);
  line-height: 1.5em;
}
.location-area .location-part .location-list .location-current .location-content ul li, .location-area .location-part .location-list .location-current .location-content ul a {
  color: #828282;
  font-size: var(--fz);
  line-height: 1.5em;
}
.location-area .location-part .location-list .location-current .location-pin {
  border: 2px solid rgba(255, 255, 255, 0.5019607843);
  display: flex;
  aspect-ratio: 1;
  height: 64px;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
}
.location-area .location-part .location-list .location-current .location-pin:hover {
  border-color: #fff;
  background: #fff;
}
.location-area .location-part .location-list .location-current .location-pin:hover svg {
  fill: #111;
}
.location-area .map-part {
  height: 700px;
}
.location-area .map-part #map {
  width: 100%;
  height: 100%;
}

@media (max-width: 1024px) {
  .location-area {
    display: block;
  }
}
@media (max-width: 500px) {
  .location-area .location-part .location-search {
    flex-direction: column;
    align-items: center;
  }
}
/* Стили для самого окна (после того как оно отрисуется) */
.gm-style-iw {
  background-color: rgba(17, 17, 17, 0.5019607843) !important;
  box-shadow: none !important;
}

/* Убираем белую обводку */
.gm-style-iw-d {
  overflow: hidden !important;
  background-color: transparent !important;
}

.youtube-popup-section .content-place {
  position: relative;
}
.youtube-popup-section .area-for-content {
  height: fit-content;
  width: fit-content;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.two-part-content {
  display: flex;
  align-items: center;
  gap: 40px;
}
.two-part-content .content {
  flex: 1;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media (max-width: 1024px) {
  .two-part-content {
    flex-direction: column;
  }
  .two-part-content .content {
    width: 100%;
  }
}
.personal-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.personal-card .personal-photo {
  aspect-ratio: 1;
  height: 100%;
  width: 100%;
  max-height: 160px;
  max-width: 160px;
}
.personal-card .personal-role {
  color: #828282;
}

@font-face {
  font-family: "MyFont";
  src: url("../fonts/perpetua.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
* {
  font-size: 24px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Perpetua", serif;
  color: #fff;
  text-wrap: balance;
}

ul {
  margin-left: 20px;
}

h3 {
  font-size: 30px;
  text-wrap: balance;
}

h4 {
  font-size: 40px;
  text-wrap: balance;
  text-align: center;
}

.text-center {
  text-align: center !important;
}

body {
  background: #000;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  position: relative;
}

#bg-fixed-video {
  pointer-events: none;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
  right: 0;
  min-width: 100dvw;
  min-height: 100dvh;
}

main {
  flex: 1;
}
.container {
  padding-left: 60px;
  padding-right: 60px;
  max-width: 1920px;
  width: 100%;
  margin: auto;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
}
header .header-container {
  height: 94px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
header .header-container:after {
  backdrop-filter: blur(8px);
  background: rgba(17, 17, 17, 0.5019607843);
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
header .header-container .main-menu {
  display: flex;
  gap: 30px;
  list-style: none;
}
header .header-container .main-menu li a {
  font-size: var(--fz);
}
header .header-container .part-content {
  display: flex;
  align-items: center;
  gap: 20px;
}
header .header-container #burger-menu-area {
  backdrop-filter: blur(8px);
  background: rgba(17, 17, 17, 0.5019607843);
  border-top: 1px solid #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: calc(100dvh - 94px);
  padding-top: 30px;
  padding-bottom: 30px;
  transform-origin: top;
  transform: scaleY(0);
  transition: 0.4s ease-in-out transform;
}
header .header-container #burger-menu-area .main-menu {
  flex-direction: column;
}
header .header-container #burger-menu-area .main-menu li {
  text-align: center;
}
header .header-container #burger-menu-area.active {
  transform: scale(1);
}
header .header-container #burger-menu {
  transition: 0.4s ease-in-out transform;
}
header .header-container #burger-menu.active {
  transform: rotate(450deg);
}

footer {
  border-top: 1px solid #fff;
  margin-top: 60px;
}
footer .footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 80px;
}
footer .footer-container .useful-links * {
  font-size: 18px;
}
footer .footer-container .copyright-place * {
  font-size: 14px;
}
footer .footer-container .objects-delimer {
  display: flex;
  gap: 20px;
}
footer .footer-container .objects-delimer a, footer .footer-container .objects-delimer span {
  position: relative;
}
footer .footer-container .objects-delimer a:not(:last-child)::after, footer .footer-container .objects-delimer span:not(:last-child)::after {
  content: "";
  height: 100%;
  width: 1px;
  background: #fff;
  position: absolute;
  right: -10px;
  top: 0;
  bottom: 0;
  margin: auto;
}

a {
  text-decoration: none;
}

svg {
  fill: #fff;
}

.circle-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  height: 44px;
  width: 44px;
  aspect-ratio: 1;
}
.circle-svg-telegram {
  background: #34AADF;
}
.circle-svg-whatsapp {
  background: #00D95F;
}

.btn {
  background: none;
  border: 1px solid #fff !important;
  font-size: var(--fz);
  width: fit-content;
  padding: 10px 20px;
}
.btn:hover {
  background-color: #fff;
  color: #000;
}
.btn:hover svg {
  fill: #000;
}

.m-auto {
  margin: auto;
}

.lang-switcher {
  position: relative;
}
.lang-switcher .lang-switcher-head {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #828282;
  border-radius: 20px;
  padding: 10px 20px;
}
.lang-switcher .lang-switcher-head span {
  font-size: 20px;
}
.lang-switcher .lang-switcher-list {
  position: absolute;
  left: 0;
  top: calc(100% + 20px);
  width: 100%;
  backdrop-filter: blur(8px);
  background: rgba(17, 17, 17, 0.5019607843);
  border-radius: 0 0 20px 20px;
  transform-origin: top;
  transform: scaleY(0);
  transition: 0.4s ease-in-out transform;
}
.lang-switcher .lang-switcher-list.active {
  transform: scaleY(1);
}
.lang-switcher .lang-switcher-list ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
}
.lang-switcher .lang-switcher-list ul li a {
  font-size: 20px;
}

.logo-place.circle {
  border: 1px solid #fff;
  aspect-ratio: 1;
  padding: 10px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.instagram-head {
  display: flex;
  align-items: center;
  gap: 20px;
}

.instagram-link {
  font-size: 40px;
}

.inst-place {
  height: 300px;
  width: 100%;
  background: rgba(185, 28, 28, 0.3607843137);
}

@media (min-width: 1025px) {
  .mobile {
    display: none !important;
  }
}
@media (max-width: 1024px) {
  .desktop {
    display: none !important;
  }
  .part-content.mobile-adaptive {
    width: 100%;
    justify-content: space-between;
  }
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .container-mobile-none {
    padding-left: 0px;
    padding-right: 0px;
  }
  .container-mobile {
    padding-left: 20px;
    padding-right: 20px;
  }
  .lang-switcher-place {
    order: 1;
    flex: 1;
    display: flex;
    justify-content: start;
  }
  .logo-place {
    order: 2;
    flex: 1;
    display: flex;
    justify-content: center;
  }
  .burger-place {
    order: 3;
    flex: 1;
    display: flex;
    justify-content: end;
  }
}
.social-links {
  display: flex;
  gap: 20px;
}

.section-title {
  display: flex;
  justify-content: center;
  margin: 24px auto;
}
.section-title h2 {
  width: fit-content;
  font-size: clamp(40px, 5vw, 80px);
  text-align: center;
  text-wrap: balance;
  background: linear-gradient(90deg, #FFFFFF, #494949);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.search-input-block {
  position: relative;
  display: inline-block;
}
.search-input-block .search-icon {
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
}

input {
  border: 1px solid rgba(255, 255, 255, 0.5019607843);
  font-size: var(--fz);
  background: none;
  outline: none !important;
  padding: 10px 20px;
  background: #000;
  width: 100%;
}
input:focus {
  border: 1px solid #fff;
}
input:-webkit-autofill {
  font-size: 24px;
  -webkit-transition-delay: 9999s;
  transition-delay: 9999s;
}

textarea {
  border: 1px solid rgba(255, 255, 255, 0.5019607843);
  font-size: var(--fz);
  background: none;
  outline: none !important;
  padding: 10px 20px;
  background: #000;
  width: 100% !important;
  min-height: 300px;
}
textarea:focus {
  border: 1px solid #fff;
}
textarea:-webkit-autofill {
  font-size: 24px;
  -webkit-transition-delay: 9999s;
  transition-delay: 9999s;
}

.country-dropdown {
  border: 1px solid rgba(255, 255, 255, 0.5019607843);
  font-size: var(--fz);
  background: none;
  outline: none !important;
  padding: 10px 20px;
  background: #000;
  width: fit-content;
}
.country-dropdown:focus {
  border: 1px solid #fff;
}
.country-dropdown:-webkit-autofill {
  font-size: 24px;
  -webkit-transition-delay: 9999s;
  transition-delay: 9999s;
}

.full-width-img {
  width: 100%;
  object-fit: cover;
  min-height: 430px;
}

.contact-us-area {
  display: grid;
  grid-template-columns: 3fr 4fr;
  gap: 40px;
}
.contact-us-area .contact-us-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.contact-us-area .contact-us-info .contact-us-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact-us-area .contact-us-info .contact-us-links {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.contact-us-area .contact-us-info .contact-us-links .current-link-block {
  display: flex;
  align-items: center;
  gap: 10px;
}
.contact-us-area .contact-us-info .contact-us-links .current-link-block span {
  color: #828282;
  font-weight: 700;
  font-size: 16px;
  text-decoration: underline;
}

.contact-us-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.two-input-place {
  width: 100%;
  display: flex;
  gap: 20px;
}

@media (max-width: 1024px) {
  .contact-us-area {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
  }
}
@media (max-width: 500px) {
  .two-input-place {
    flex-direction: column;
  }
}

/*# sourceMappingURL=main.css.map */
