@use 'variables' as *;



.swiper{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;


    .btn-prev{
        position: absolute;
        z-index: 100;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }
    .btn-next{
        position: absolute;
        z-index: 100;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }


    .swiper-pagination{
        position: static;
        .swiper-pagination-bullet{
            opacity: 1;
            background: none;
            border: 2px solid #ffffff80;
            height: 22px;
            width: 22px;
            &-active{
                background: #fff;
            }
        }

        &.lined-around{
            &::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    margin: auto;
                    height: 1px;
                    width: calc(50% - 50px);
                    background: #fff;
            }
            &::after{
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                    height: 1px;
                    width: calc(50% - 50px);
                    background: #fff;
            }
        }
    }

}


@media (min-width:769px){
    .products-preview-slider{
        .swiper-slide:nth-child(2n-1)::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 1px;
            background: #ffffff;
            background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
            height: 100%;
        }
    }
}


.category-nav-slider,.products-nav-slider{
    .swiper-slide {
        .blured{
            transition: 0.4s ease-in-out transform,0.4s ease-in-out filter;
            transform: scale(0.7);
            filter: blur(4px);
        }
    }

    .swiper-slide-active {
        .blured{
            transform: scale(1);
            z-index: 2;
            filter: blur(0px);
        }
    }
}


.products-sliders-area {  
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 500px 250px;
    gap: 40px;
    grid-auto-flow: row;
    grid-template-areas:
        "products-info-slider-area products-images-slider-area products-nav-slider-area"
        ". products-images-thumb-slider-area .";
}
.products-info-slider-area { grid-area: products-info-slider-area; }
.products-images-slider-area { grid-area: products-images-slider-area; }
.products-images-thumb-slider-area { grid-area: products-images-thumb-slider-area; }
.products-nav-slider-area { grid-area: products-nav-slider-area; }


.products-info-slider-area{
    position: relative;
    aspect-ratio: 1;
    overflow: auto;
    .products-info-slider{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
}
.products-images-slider-area{
    position: relative;
     aspect-ratio: 1;
    .products-images-slider{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
}
.products-images-thumb-slider-area{
    position: relative;
    aspect-ratio: 2 / 1;
    .products-images-thumb-slider{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
}

.products-nav-slider-area{
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 170px;
    margin: auto;
    .swiper-slide{
       display: flex;
        align-items: center;
        justify-content: center;

        h3{
            text-wrap: nowrap;
        }
    }
}


.products-nav-slider-tools{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .swiper-btn-prev{
        cursor: pointer;
        opacity: 1;
        @include transitionProperties(opacity);
        &.swiper-button-disabled{
            opacity: 0;
        }
    }
    .swiper-btn-next{
        cursor: pointer;
        transform: rotate(180deg);
        opacity: 1;
        @include transitionProperties(opacity);
        &.swiper-button-disabled{
            opacity: 0;
        }
    }
    .swiper-pagination{
        position: static;
        font-size:30px;
        color:#828282;
        .swiper-pagination-total{
            font-size:30px;
            color:#828282;
        }
        .swiper-pagination-current{
            font-size: 58px;
        }
    }
}


@media (max-width:1024px){
    .products-sliders-area{  
        gap:20px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "products-nav-slider-area products-nav-slider-area"
            "products-info-slider-area products-images-slider-area"
            "products-info-slider-area products-images-thumb-slider-area";
    }
    .products-nav-slider-area{
        grid-template-columns: 1fr;
        height: auto;
    }
    .products-nav-slider-tools{
        gap: 20px;
        flex-direction: row;
        width: fit-content;
        margin: auto;

        .swiper-btn-prev{
            transform: rotate(-90deg);
        }
        .swiper-btn-next{
            transform: rotate(90deg);

        }
    }
    
}

@media (max-width:600px){
    .products-sliders-area{  
        gap:20px;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
            "products-nav-slider-area"
            "products-images-slider-area"
            "products-images-thumb-slider-area"
            "products-info-slider-area";
    }
}
.products-images-thumb-slider{
    .swiper-slide{
        img{
            @include transitionProperties(filter);
            filter: blur(4px);
        }
        &.swiper-slide-thumb-active{
            img{
                filter: blur(0);
            }
        }
    }
}


    .btn-prev{
        @include button;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        left: 0;
        svg{
            width: auto;
            height: auto;
        }
    }
    
    .btn-next{
        @include button;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        right: 0;
        svg{
            width: auto;
            height: auto;
            transform: rotate(180deg);
        }
    }